{% extends "base.html" %}
{% block title %}
最新澳币人民币汇率图-半小时图-24小时图 (Sydney时间)
{% endblock %}
  {% block main%}
    <ul class="nav clearfix index-nav">
                    <li {% if view == "hot" %}class="on"{% endif %}>
                        <a href="/hot">热门</a>
                    </li>
                    <li {% if view == "latest" %}class="on"{% endif %}>
                        <a href="/latest">最新</a>
                    </li>
                    <li {% if view == "currency" %}class="on"{% endif %}>
                        <a href="/cur/all">澳币汇率</a>
                    </li>
                    <li {% if view == "submit" %}class="on"{% endif %}>
                        <a href="/submit">>投稿</a>
                    </li>
    </ul>
    <li><div id="chart_div1" style="width: 720px; height: 500px;"></div></li>
    <li><div id="chart_div2" style="width: 720px; height: 500px;"></div></li>
  {% endblock %}


{% block script %}
 <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {

	 var data1 = new google.visualization.DataTable();
	data1.addColumn('string', '时间'); // Implicit domain label col.
	data1.addColumn('number', '澳币30分钟汇率'); // Implicit series 1 data col.
	data1.addColumn({type:'string', role:'annotation'}); // annotation role col.
	data1.addRows([
	 {% for cur in currencies_min %}
	    ["{{ cur.timeshow[-8:-3] }}",  {{ cur.value }}, "{{ cur.annotation }}"],
	 {% endfor %}
	]);



        var options1 = {
          title: '半小时走势图-澳币人民币 (Sydney时间)',
        };

        var chart1 = new google.visualization.LineChart(document.getElementById('chart_div1'));
        chart1.draw(data1, options1);


	var data2 = new google.visualization.DataTable();
	data2.addColumn('string', '时间'); // Implicit domain label col.
	data2.addColumn('number', '澳币24小时汇率'); // Implicit series 1 data col.
	data2.addColumn({type:'string', role:'annotation'}); // annotation role col.
	data2.addRows([
	 {% for cur in currencies_hour %}
	    ["{{ cur.timeshow[-8:-3] }}",  {{ cur.value }}, "{{ cur.annotation }}"],
	 {% endfor %}
	]);



        var options2 = {
          title: '24小时走势图-澳币人民币 (Sydney时间)',
        };

        var chart2 = new google.visualization.LineChart(document.getElementById('chart_div2'));
        chart2.draw(data2, options2);
      }
    </script>
{% endblock %}
